.container-grid-1 {
  height: 120vh;
  padding-top: 70px;
  padding: 50px 10px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 5fr;
  grid-template-rows: auto 4fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "mainImg mainImg mainImg sideText" "mainTitle smallTitle smallTitle sideText" ". . . sideText" ". . btn sideText";
}
@media screen and (max-width: 740px) {
  .container-grid-1 {
    height: 190vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "mainImg mainImg mainImg mainImg" "mainTitle mainTitle smallTitle smallTitle" "sideText sideText sideText sideText" ". btn btn .";
  }
}
@media screen and (max-width: 420px) {
  .container-grid-1 {
    height: 265vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "mainImg mainImg mainImg" "mainTitle mainTitle mainTitle" "smallTitle smallTitle smallTitle" "sideText sideText sideText" ". btn .";
    margin-top: 25px;
  }
}
.container-grid-1 article {
  border: 2px solid #ccc;
}

.container-grid-2 {
  height: 40vh;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-template-areas: "secondTitle . logoutBtn" "card1 card2 card3";
}
@media screen and (max-width: 740px) {
  .container-grid-2 {
    height: 110vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "secondTitle logoutBtn" "card1 card1" "card2 card2" "card3 card3";
  }
}

.mainImg {
  grid-area: mainImg;
}
.mainImg img {
  width: 100%;
  height: auto;
}

.sideText {
  grid-area: sideText;
  line-height: 1.6rem;
}
.sideText div {
  width: 80%;
  padding: 1rem 0.4rem 2rem 0.4rem;
}
.sideText div h1 {
  font-size: 2rem;
  padding: 1rem 0;
}

.mainTitle {
  grid-area: mainTitle;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2rem;
}

.smallTitle {
  grid-area: smallTitle;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.smallTitle div {
  width: 80%;
  line-height: 1.6rem;
}

.btn {
  grid-area: btn;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #332;
}

.secondTitle {
  grid-area: secondTitle;
  margin: 5rem 1rem;
  font-size: 2rem;
}

.logoutBtn {
  grid-area: logoutBtn;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoutBtn button {
  height: fit-content;
  padding: 1rem 4rem;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  background-color: #000;
  transition: background-color 0.3s ease;
}
.logoutBtn button:hover {
  background-color: #332;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card1, .card2, .card3 {
  display: flex;
  align-items: center;
  line-height: 1.6rem;
}
.card1 img, .card2 img, .card3 img {
  width: 40%;
}
.card1 div, .card2 div, .card3 div {
  width: 50%;
  padding-left: 1rem;
}
.card1 div h1, .card2 div h1, .card3 div h1 {
  font-size: 3rem;
  line-height: 10vh;
}

/*# sourceMappingURL=home.css.map */
